<h1><%= link_to "Topics", topics_path %>/<%= link_to @topic.name, topic_path(@topic) %>/Notes</h1>

<h3>Links</h3>
<% @notes.each do |note| %>
  <% if note.links %>
    <li><%= link_to note.links, "/topics/#{@topic.id}/videos/new?search=#{note.links}" %></li>
  <% end %>
<% end %>

<%= link_to 'New Note', new_topic_note_path %>
