<h1>Topics</h1>

<div id="topic-index">
  <%= render 'form', topic: @topic %>

  <hr>
  <table>
    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= link_to topic.name, topic %></td>
          <td><%= link_to 'Destroy', topic, method: :delete, class:"destroy-link"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
