<h1>Profile page</h1>
<h2>Username: <%= @user.username %></h2>

<% if current_user.active %>
  <%= link_to "Edit Info", profile_edit_path %>
  <%= link_to "Topics", topics_path %>
<% else %>
  <h4>Your account is not yet active</h4>
  <h4><%= button_to "Resend Activation Email", "/resend" %></h4>
<% end %>
