// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#videos-container, #video-cards {
  display: flex;
  flex-wrap: wrap;
}

.video-card {
  background: grey;
  margin: 2em;
}

#save-button {
  width: 100%;
}

#save-button:hover {
  background: lightblue;
  cursor: pointer;
}

#new-notes {
  display: none;
  width: 100%;
  height: 350px;
  box-shadow: 1px 1px 0px 0px;
}

#video {
  width: 100%;
}

.active {
  height: 500px;
}
